# Template for .env customization #
CONFIG="${HOME}/.config/microservices"
DATA_CLOUD="/cloud"
DATA_MEDIA="/media"
TV_MEDIA=""
TZ="UTC"
HOST_USER="<your_username_here>"
HOST_UID=1000
HOST_GID=1000
JELLYFIN_VERSION=10.10.7
PROXYMANAGER_VERSION="latest"
MARIADB_VERSION=11.4.7
MYSQL_DATABASE=nextcloud
MYSQL_ROOT_PASSWORD="<root_password>"
MYSQL_USER=<nextcloud>
MYSQL_PASSWORD=<nextcloud_password_here>
REDIS_VERSION=alpine
NEXTCLOUD_VERSION=latest
NEXTCLOUD_PORT=8080
NEXTCLOUD_TRUSTED_DOMAINS=<your_custom_domain_here>
NEXTCLOUD_TRUSTED_PROXIES=192.168.0.0/24 #Replace for your network
NEXTCLOUD_ADMIN_USER="<user_here>"
NEXTCLOUD_ADMIN_PASSWORD="<password_here>"
