CONFIG="${HOME}/.config/microservices"
TZ="UTC"
HOST_USER="sysadmin"
HOST_UID=1000
HOST_GID=1000
SUBDOMAINS=<subdomains_here>
JELLYFIN_VERSION=10.10.7
MARIADB_VERSION=10.5.28
REDIS_VERSION=7.4
NEXTCLOUD_VERSION=
NEXTCLOUD_DOMAIN=localhost:8080
NEXTCLOUD_PORT=8080
NEXTCLOUD_TRUSTED_DOMAINS=localhost,192.168.0.100
ADMIN_USERNAME=<nextcloud_user_here>
ADMIN_PASSWORD=<nextcloud_password_here>
DATA_CLOUD=<nextcloud_mountpoint_files>
DATA_MEDIA=<jellyfin_mountpoint_files>
NEXTCLOUD_DB_NAME=nextcloud
NEXTCLOUD_DB_USERNAME=nextcloud
NEXTCLOUD_DB_PASSWORD=nextcloud
NEXTCLOUD_DB_HOST=mariadb
NEXTCLOUD_REDIS_HOST=redis
MYSQL_ROOT_PASSWORD=nextcloud
MYSQL_USER=nextcloud
MYSQL_PASSWORD=nextcloud
MYSQL_DATABASE=nextcloud
