CONFIG="${HOME}/.config/microservices"
PIHOLE_PASSWORD="<pihole_pass_here>"
MARIADB_VERSION=10.11
REDIS_VERSION=6
PROXYMANAGER_VERSION="latest"
JELLYFIN_VERSION=10.10.1
OWNCLOUD_VERSION=10.15
DATA_MEDIA="/DATA"
DATA_CLOUD="/CLOUDATA"
OWNCLOUD_DOMAIN=localhost:8080
OWNCLOUD_PORT=8080
OWNCLOUD_TRUSTED_DOMAINS=localhost
ADMIN_USERNAME=admin
ADMIN_PASSWORD=<admin_pass_here>
TZ="UTC"
HOST_USER="sysadmin"
HOST_UID=1001
HOST_GID=1001
SUBDOMAINS="local"
DUCKDNS_API=<api_token_here>
DUCKDNS_PORT=8089
